html {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    background-color: #f7f7ec;
    font-size: 22px;
    color: #1c311c;
}

header {
    text-align: center;
    /* height: 75vh; */
    overflow: hidden;
}

header img {
    position: absolute;
    z-index: -1;
    width: 100%;
    filter: brightness(0.5);
}

nav {
    /* position: fixed;
    width: 12rem;
    left: 0;
    top: 20%; */
}

ul {
    list-style-type: none;
    position: sticky;
    top: 4rem;
}

body { 
    margin: 0;
}

a {
    color: #1c311c;
}

svg {
    height: 4rem;
}

.wide-click-area {
    display: inline-block;     
    position: relative;    
    z-index: 1;     
    padding: 0.25em;     
    margin: -0.25em; 
}

.project-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 0.25rem;
}

.project-card img {
    box-shadow: 1px 1px 3px;    
}

.project-text-content {
    padding: 1rem;
}

.project-text-content {
    text-align: right;
}

.paragraph-container {
    height: 100%;
    max-width: 20rem;
    text-align: left;
}

.icons-container{
    display: flex;
    flex-basis: 100%;
    text-align: center;
    justify-content: center;
    gap: 2rem;
}

#nav-spacer, h1 {
    font-size: 2rem;
}

#app {
    display: flex;
    width: 55rem;
    margin: 0 auto;
    gap: 1rem;
}

#main-content {
    /* margin: 0 auto; */
    /* width: min-content */
}

@media only screen and (max-width: 600px) {
    #main-content {
        width: 80%;
        margin: auto;
    }
}